@import './base.css';

#app {
    width: 100%;
    min-height: 100vh;
    margin: 0 0;
    font-weight: normal;
    display: grid;
    grid-template-columns: 1fr;
}

body {
    display: flex;
    place-items: center;
}

a,
.green {
    text-decoration: none;
    color: var(--color-text);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(194, 100%, 90%, 0.2);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: grid;
        grid-template-columns: 1fr;
    }
}
